<div class="marco">
    <div class="row">
        <div class="col">
            <h1>{{ titulo }}</h1>
        </div>
    </div>
    <div class="row">
        <h3>Productos registrados</h3>
    </div>
    <div class="table-container">
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource">
            
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let row">{{ row.fecha }}</td> 
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let row">{{ row.nombre.charAt(0).toUpperCase() + row.nombre.slice(1) }}</td> 
            </ng-container>

            <ng-container matColumnDef="precio_unitario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Unitario</th>
                <td mat-cell *matCellDef="let row">{{ (row?.precio_venta ? row.precio_venta : row.precio_compra) | currency }}</td> 
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                <td mat-cell *matCellDef="let row">{{ row.cantidad }}</td> 
            </ng-container>

            <ng-container matColumnDef="precio_total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Total</th>
                <td mat-cell *matCellDef="let row">{{ row.precio | currency }}</td> 
            </ng-container>

            <ng-container matColumnDef="ver_ticket">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row"><button mat-mini-fab color="primary" matTooltip="Ver en ticket" (click)="verTicket(row)"><mat-icon>receipt</mat-icon></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
