<div class="marco">
    <div class="row">
        <div class="col">
            <h1>{{ compra ? "Registro de Compras" : "Punto de Venta" }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <table style="width: 30%;">
            <tr>
                <td></td>
                <td>
                    <form [formGroup]="ventaForm" (submit)="buscarPorCodigo()">
                        <mat-form-field hideRequiredMarker>
                            <mat-label>Código de Barras</mat-label>
                            <input matInput formControlName="codigo_barras" [required]="error">
                            <mat-error *ngIf="error">No se encontró ningún producto</mat-error>
                        </mat-form-field>
                        <button type="submit" style="display: none;"></button>
                    </form>
                </td>
                <td>
                    <form [formGroup]="ventaForm">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre del Producto</mat-label>
                            <input matInput formControlName="nombre_producto" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let producto of filteredOptions | async" [value]="producto"
                                    (click)="seleccionar(producto)">
                                    {{ producto.nombre.charAt(0).toUpperCase() + producto.nombre.slice(1) }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" *ngIf="productosSeleccionados.length != 0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef>Producto</th>
                <td mat-cell *matCellDef="let producto">{{ producto.nombre.charAt(0).toUpperCase() +
                    producto.nombre.slice(1) }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="precio_unitario">
                <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
                <td mat-cell *matCellDef="let producto">{{ (compra ? producto.precio_compra : producto.precio_venta) | currency }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let producto; let i = index">
                    <input type="number" min="1" step="1" matInput [(ngModel)]="productosSeleccionados[i].cantidad"
                        (change)="cambiarCantidad(i)">
                    <mat-error *ngIf="this.productosSeleccionados[i].cantidad < 1">????</mat-error>
                </td>
                <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
            </ng-container>

            <ng-container matColumnDef="total_row">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let producto; let i = index">{{ productosSeleccionados[i].precio | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef><b>{{ getTotalCost() | currency }}</b></td>
            </ng-container>

            <ng-container matColumnDef="quitar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let producto; let i = index"><button mat-mini-fab color="warn"
                        matTooltip="Quitar" (click)="quitar(i)"><mat-icon>remove</mat-icon></button></td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let producto; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <div style="margin-top: 2%;" align="right">
            <button mat-fab extended color="primary" (click)="terminarCompra()"><mat-icon>shopping_cart</mat-icon>Terminar</button>
        </div>
    </div>