/* You can add global styles to this file, and also import other style files */

html, body { height: 100vmax; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('./assets/images/inicio.png'); 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
.marco{
    padding: 3vh;
    background-color: rgb(255, 255, 255, 0.95); 
    height: 100%;
}
