<mat-card style="margin: 5% 20%;">
    <mat-card-header>
        <mat-card-title>Inicio</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin: 2%;">
        <h3>Hola :) bienvenids a tods.</h3>
        <h3>El propósito del sistema es llevar un mejor control de lo que se está vendiendo en la sala, así que de favor registrar todo lo que estén comprando,
            aquí también están los precios y puedes escanear el código de barras, sólo vayan a <b>Punto de Venta</b> 
            Si alguien desea vender algo y usar el sistema para administrarlo lo puede hacer, sólo de avisar al administrador para crear un nuevo usuario.
        </h3>
        <h3>Igual si quieren usar este espacio para algún anuncio se puede hacer. Grax por comprar <3</h3>
    </mat-card-content>
</mat-card>

